<div class="min-h-screen bg-pink-100 flex items-center justify-center">
    <div class="text-center bg-white p-10 rounded-2xl shadow-lg max-w-md">
      <h1 class="text-4xl font-bold text-red-500 mb-4">¡Feliz Día de San Valentín Amor! ❤️</h1>
      <button
        class="bg-red-500 text-white px-6 py-3 rounded-lg hover:bg-red-600 transition-colors"
        (click)="toggleMessage()"
      >
        Click me
      </button>
      @if(showMessage){
        <p class="mt-4 text-2xl text-red-500">Te quiero mucho Mag💖</p>
      }
    </div>
  </div>
  