@if (type() === 'secondary') {
<button
  type="button" [ngClass]="{'cursor-progress': isProcessing()}"
  class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-800 hover:bg-gray-700 disabled:bg-gray-400 disabled:cursor-not-allowed"
  [disabled]="isDisabled()"
>
  @if (isProcessing()) {
    <svg class="animate-spin h-4 w-4 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  }
  {{ name() }}
</button>
}
@else if (type() === 'secondary-outlined') {
  <button
    type="button" [ngClass]="{'cursor-progress': isProcessing()}"
    class="w-full inline-flex items-center justify-center px-4 py-2 border rounded-md shadow-sm text-base font-medium text-black border-gray-400 bg-white hover:bg-gray-50 disabled:bg-gray-500 disabled:text-gray-700 disabled:cursor-not-allowed"
    [disabled]="isDisabled()"
  >
    @if (isProcessing()) {
      <svg class="animate-spin h-4 w-4 text-black mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    }
    {{ name() }}
  </button>
  }
@else {
<button
  type="button"  [ngClass]="{'cursor-progress': isProcessing()}"
  class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-[#d07d66] hover:bg-[#d7816a] disabled:bg-[#d7826ab5] disabled:cursor-not-allowed"
  [disabled]="isDisabled()"
>
  @if (isProcessing()) {
    <svg class="animate-spin h-4 w-4 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  }
  {{ name() }}
</button>
}
