@if (type() === 'secondary') {
<button
  type="button" [ngClass]="{'cursor-progress': isProcessing()}"
  class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-800 hover:bg-gray-700 disabled:bg-gray-400 disabled:cursor-not-allowed"
  [disabled]="isDisabled()"
>
  {{ name() }}
</button>
}@else {
<button
  type="button"  [ngClass]="{'cursor-progress': isProcessing()}"
  class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-[#d07d66] hover:bg-[#d7816a] disabled:bg-[#d7826ab5] disabled:cursor-not-allowed"
  [disabled]="isDisabled()"
>
  {{ name() }}
</button>
}
