<h2 class="text-2xl text-fg mb-6 max-lg:hidden">Cookies</h2>
<p class="text-fg-muted text-base mb-6 md:w-[40rem]">
    Las cookies son pequeños archivos de texto que los sitios web pueden utilizar para mejorar la experiencia del
    usuario. Conforme a la ley, podemos almacenar cookies en su dispositivo únicamente si son estrictamente necesarias
    para el funcionamiento de esta página; para el resto de los tipos de cookies, requerimos su consentimiento. Este
    sitio utiliza diferentes tipos de cookies, algunas de las cuales son colocadas por servicios de terceros que
    aparecen en nuestras páginas. Usted puede cambiar o retirar su consentimiento en cualquier momento desde la
    Declaración de cookies disponible en nuestro sitio web. Para más información sobre quiénes somos, cómo puede
    contactarnos y cómo tratamos sus datos personales, consulte nuestra Política de privacidad. Al continuar navegando
    en nuestro sitio, usted acepta el uso de cookies. Su consentimiento aplica a los siguientes dominios: magolabs.com.
<div class="space-y-2">
    @for (item of list; track $index) {
    <details class="group rounded-lg bg-bg-alt  [&_summary::-webkit-details-marker]:hidden md:w-[40rem]">
        <summary class="flex cursor-pointer items-center p-4 justify-between gap-1.5 text-fg">
            <h2 class="font-semibold">{{item.title}}</h2>
            <span class="relative size-5 shrink-0">
                <ml-icon name="plus-circle" class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" />

                <ml-icon name="minus-circle" class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" />
            </span>
        </summary>

        @for (description of item.description; track $index){
        <p class="leading-relaxed text-fg-muted px-6 pb-6">
            {{description}}
        </p>
        }
    </details>
    }
</div>
<div class="flex items-center justify-start mt-4">
    <span class="text-sm font-medium text-fg">Última actualización: {{fechaUltimaActualizacion}}</span>
</div>