@if (type() ===navbarTypeEnum.ECOMMERCE) {
<div class="relative bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-4 lg:justify-start md:space-x-10">

            <div class="lg:hidden flex items-center">
                <button type="button" (click)="toggleNavbar()"
                    class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#d7816a]"
                    aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

            <a [routerLink]="[ '/' ]" class="flex items-center">
                <span class="sr-only">Magrolabs</span>
                <img ngSrc='/magrolabs-logotipo-96x508.png' alt="logo" width="192" height="36.29"
                    class="sm:h-12 h-10 w-auto" />
            </a>

            @if (!isCheckout()) {
            <button type="button"
                class="transition duration-500 hover:scale-105 flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative lg:hidden"
                (click)="verCarrito()" [ngClass]="{ 'animate-pulse': isLoading }">
                <div [@cartAnimation]="cartState"
                    class="rounded-full w-[50px] h-[50px] p-2 flex items-center justify-center object-center">
                    <img src="svg/shopping-cart.svg" class="h-7 w-auto aspect-square object-center overflow-hidden"
                        height="50" width="50" alt="search-icon" />
                </div>
                <div
                    class="bg-black absolute top-0 right-0 flex rounded-full h-[18px] w-[18px] text-white text-center justify-center">
                    <p class="self-center text-center text-xs">{{numItemsCart}}</p>
                </div>
            </button>
            }


            <nav class="hidden lg:flex items-center justify-end md:flex-1 lg:w-0">
                <a [routerLink]="[ '/login' ]"
                    class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                    Iniciar sesión
                </a>

                <ml-button class="mx-6" name="Regístrate" [routerLink]="[ '/registro' ]" />

                @if (!isCheckout()) {
                <button type="button"
                    class="transition duration-500 hover:scale-105 flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative"
                    (click)="verCarrito()" [ngClass]="{ 'animate-pulse': isLoading }">
                    <div [@cartAnimation]="cartState"
                        class="rounded-full w-[50px] h-[50px] p-2 flex items-center justify-center object-center">
                        <img src="svg/shopping-cart.svg" class="aspect-square object-center overflow-hidden" height="50"
                            width="50" alt="search-icon" />
                    </div>
                    <div
                        class="bg-black absolute top-0 right-0 flex rounded-full h-[23px] w-[23px] text-white text-center justify-center">
                        <p class="self-center text-center text-xs">{{numItemsCart}}</p>
                    </div>
                </button>
                }
            </nav>
        </div>
    </div>

    <div [@fadeInOut]="state" class="lg:hidden fixed inset-0 overflow-hidden z-30">
        <div class="absolute top-0 inset-x-0 z-10 p-2 origin-top-right lg:hidden">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
                <div class="pt-5 pb-6 px-5">
                    <div class="flex items-center justify-between">
                        <div>
                            <img ngSrc='/magrolabs-logotipo-96x508.png' alt="logo" width="192" height="36.29" />
                        </div>
                        <div class="-mr-2">
                            <button type="button" (click)="toggleNavbar()"
                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#d7816a]">
                                <span class="sr-only">Close menu</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="py-6 px-5 space-y-6">
                    <nav>
                        <ml-button name="Regístrate" [routerLink]="[ '/registro' ]" />
                        <p class="mt-6 text-center text-base font-medium text-gray-500">
                            <a [routerLink]="[ '/login' ]" class="text-[#d07d66] hover:text-[#d7816a]">
                                Iniciar Sesión
                            </a>
                        </p>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
}
@if (type() === navbarTypeEnum.LANDING) {
<div class="relative bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-4 lg:justify-start md:space-x-10">
            <div class="flex justify-between lg:w-0 lg:flex-1 w-full">
                <div class="lg:hidden flex items-center">
                    <button type="button" (click)="toggleNavbar()"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#d7816a]"
                        aria-expanded="false">
                        <span class="sr-only">Open menu</span>
                        <!-- Heroicon name: outline/menu -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>

                <a [routerLink]="[ '/' ]" class="flex items-center">
                    <span class="sr-only">Magrolabs</span>
                    <img ngSrc='/magrolabs-logotipo-96x508.png' alt="logo" width="192" height="36.29"
                        class="sm:h-12 h-10 w-auto" />
                </a>

                @if (!isCheckout()) {
                <button type="button"
                    class="transition duration-500 hover:scale-105 flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative lg:hidden"
                    (click)="verCarrito()" [ngClass]="{ 'animate-pulse': isLoading }">
                    <div [@cartAnimation]="cartState"
                        class="rounded-full w-[50px] h-[50px] p-2 flex items-center justify-center object-center">
                        <img src="svg/shopping-cart.svg" class="h-7 w-auto aspect-square object-center overflow-hidden"
                            height="50" width="50" alt="search-icon" />
                    </div>
                    <div
                        class="bg-black absolute top-0 right-0 flex rounded-full h-[18px] w-[18px] text-white text-center justify-center">
                        <p class="self-center text-center text-xs">{{numItemsCart}}</p>
                    </div>
                </button>
                }

            </div>

            <nav class="hidden lg:flex space-x-10">
                <a [routerLink]="[ '/como-funciona' ]" routerLinkActive="text-gray-900"
                    class="text-base font-medium text-gray-500 hover:text-gray-900">
                    ¿Cómo funciona?
                </a>
                <a [routerLink]="[ '/atencion-cliente' ]" routerLinkActive="text-gray-900"
                    class="text-base font-medium text-gray-500 hover:text-gray-900">
                    Atención al Cliente
                </a>
                <a [routerLink]="[ '/productos' ]" routerLinkActive="text-gray-900"
                    class="text-base font-medium text-gray-500 hover:text-gray-900">
                    Productos
                </a>
            </nav>
            <div class="hidden lg:flex items-center justify-end md:flex-1 lg:w-0">
                <a [routerLink]="[ '/login' ]" routerLinkActive="text-gray-900"
                    class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                    Iniciar sesión
                </a>

                <ml-button class="mx-6" name="Regístrate" [routerLink]="[ '/registro' ]" type="secondary" />

                @if (!isCheckout()) {
                <button type="button"
                    class="transition duration-500 hover:scale-105 flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse relative"
                    (click)="verCarrito()" [ngClass]="{ 'animate-pulse': isLoading }">
                    <div [@cartAnimation]="cartState"
                        class="rounded-full w-[50px] h-[50px] p-2 flex items-center justify-center object-center">
                        <img src="svg/shopping-cart.svg" class="aspect-square object-center overflow-hidden" height="50"
                            width="50" alt="search-icon" />
                    </div>
                    <div
                        class="bg-black absolute top-0 right-0 flex rounded-full h-[23px] w-[23px] text-white text-center justify-center">
                        <p class="self-center text-center text-xs">{{numItemsCart}}</p>
                    </div>
                </button>
                }
            </div>
        </div>
    </div>

    <div [@fadeInOut]="state" class="lg:hidden fixed inset-0 overflow-hidden z-30">
        <div class="absolute top-0 inset-x-0 z-10 p-2 origin-top-right lg:hidden">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
                <div class="pt-5 pb-6 px-5">
                    <div class="flex items-center justify-between">

                        <div class="-mr-2">
                            <button type="button" (click)="toggleNavbar()"
                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#d7816a]">
                                <span class="sr-only">Close menu</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>

                        <div>
                            <img ngSrc='/magrolabs-logotipo-96x508.png' alt="logo" width="192" height="36.29" />
                        </div>

                    </div>
                </div>
                <div class="py-6 px-5 space-y-6">
                    <div class="grid grid-cols-1 gap-y-8 gap-x-8">
                        <a [routerLink]="[ '/como-funciona' ]" routerLinkActive="text-gray-900"
                            class="text-base font-medium text-gray-500 hover:text-gray-900">
                            ¿Cómo funciona?
                        </a>
                        <a [routerLink]="[ '/atencion-cliente' ]" routerLinkActive="text-gray-900"
                            class="text-base font-medium text-gray-500 hover:text-gray-900">
                            Atención al Cliente
                        </a>
                        <a [routerLink]="[ '/productos' ]" routerLinkActive="text-gray-900"
                            class="text-base font-medium text-gray-500 hover:text-gray-900">
                            Productos
                        </a>
                    </div>
                    <div>
                        <ml-button name="Regístrate" [routerLink]="[ '/registro' ]" type="secondary" />
                        <p class="mt-6 text-center text-base font-medium text-gray-500">
                            <a [routerLink]="[ '/login' ]" class="text-[#d07d66] hover:text-[#d7816a]">
                                Iniciar Sesión
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<app-cart />