<app-step [step]="stepEnum.CHOSE_PLAN" />

<div class="px-4 pt-4 max-lg: mx-auto ">
    <div class="text-gray-600 mb-10 max-lg:mb-2 md:mb-0">
        <div class="relative mt-7 mb-8 lg:mt-9" show-back-button="true">
            <h1 class="text-5xl max-lg:text-4xl font-black text-gray-800 text-left lg:text-left lg:mt-12">
                ¿Cuál eliges?
            </h1>
            <p class="text-sm font-semibold mb-3 mt-5">Elige aquí tu plan de creatina. Registrate para recibir tu primera creatina 100% gratis.</p>            
        </div>
    </div>
</div>

<div class="mx-auto text-left mb-4 max-w-3xl">
    <app-information [information]="informationList" />
</div>

<app-pricing></app-pricing>