<app-navbar [type]="navbarTypeEnum.BOLSA" [isCheckout]="false" />

<section class="body-font relative flex flex-col justify-center items-center">
  <div class="sm:px-2 sm:py-4 py-3 justify-center self-center flex sm:flex-nowrap flex-wrap">
    <div class=" shadow-xl mx-auto sm:rounded-3xl bg-surface overflow-hidden flex items-end justify-center relative">
      <div class="w-full h-full">
        <div class="bg-white">
          <div class="max-w-2xl mx-auto pt-8 pb-24 px-4 sm:px-6 lg:max-w-7xl lg:w-[80vw] lg:px-8">
            <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Carrito de compras.</h1>
            <form class="mt-12 lg:grid lg:grid-cols-12 lg:gap-x-12 lg:items-start xl:gap-x-16">
              <!-- Lista de productos -->
              <section aria-labelledby="cart-heading" class="lg:col-span-7">
                <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>
                <ul role="list">
                  @for (item of shoppingCart.items; track $index) {
                  <app-order-summary-item [item]="item" (deleteItem)="deleteItem($event)"
                    (quantityValueChanged)="quantityValueChanged($event,item)" />
                  }
                </ul>
              </section>
              <!-- Order summary -->
              <section aria-labelledby="summary-heading"
                class="mt-16 bg-gray-50 rounded-lg px-4 py-6 sm:p-6 lg:p-8 lg:mt-0 lg:col-span-5">
                @if ($shoppingCart | async ; as cart) {
                @if(cart.totalItems > 0) {
                <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Resumen de orden</h2>

                <dl class="mt-6 space-y-4">
                  <div class="flex items-center justify-between">
                    <dt class="text-sm text-gray-600">Subtotal</dt>
                    <dd class="text-sm font-medium text-gray-900">
                      {{ shoppingCart.subTotal | currency : "S/ " }}
                    </dd>
                  </div>
                  <!-- cuando se implemente envio e impuesto -->
                  @if (false) {
                  <div class="border-t border-gray-200 pt-4 flex items-center justify-between">
                    <dt class="flex items-center text-sm text-gray-600">
                      <span>Shipping estimate</span>
                      <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Learn more about how shipping is calculated</span>
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                          aria-hidden="true">
                          <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                            clip-rule="evenodd" />
                        </svg>
                      </a>
                    </dt>
                    <dd class="text-sm font-medium text-gray-900">$5.00</dd>
                  </div>
                  <div class="border-t border-gray-200 pt-4 flex items-center justify-between">
                    <dt class="flex text-sm text-gray-600">
                      <span>Tax estimate</span>
                      <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Learn more about how tax is calculated</span>
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                          aria-hidden="true">
                          <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                            clip-rule="evenodd" />
                        </svg>
                      </a>
                    </dt>
                    <dd class="text-sm font-medium text-gray-900">$8.32</dd>
                  </div>
                  }

                  <div class="border-t border-gray-200 pt-4 flex items-center justify-between">
                    <dt class="text-base font-medium text-gray-900">Orden total</dt>
                    <dd class="text-base font-medium text-gray-900">
                      {{ shoppingCart.subTotal | currency : "S/ " }}
                    </dd>
                  </div>
                </dl>
                }
                @else{
                <h2 class="text-md font-medium text-gray-800">Tu carrito esta vacio.</h2>
                }
                }
                <div class="flex flex-col mt-6">
                  @if ($shoppingCart | async ; as cart) {
                  @if(cart.totalItems > 0) {
                  <ml-button [routerLink]="['/checkout']" class="w-full mb-2"
                    name="Finalizar compra  &rarr;"></ml-button>
                  }
                  <ml-button [routerLink]="['/productos']" routerLinkActive="active" class="w-full"
                    name="Seguir comprando" [type]="cart.totalItems !== 0 ? 'secondary-outlined' : 'secondary'">
                  </ml-button>
                  }
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-footer /> -->