<h2 class="text-2xl text-fg mb-6 max-lg:hidden">Declaración de Privacidad</h2>
<p class="text-fg-muted text-base mb-6 md:w-[40rem]">
    Los Datos Personales que serán objeto de tratamiento por parte de Magrolabs serán almacenados en el banco de datos de 
    titularidad de Magrolabs inscrito con el código RNPDP-PJP N° 3835 
    en el Registro Nacional de Protección de Datos Personales bajo la denominación “Clientes”.
     Magrolabs declara que cualquier tratamiento de los Datos Personales se ajusta en las normativas de 
     protección de datos personales vigentes y aplicables dentro del territorio peruano.
<div class="space-y-2">
    @for (item of list; track $index) {
    <details class="group rounded-lg bg-bg-alt  [&_summary::-webkit-details-marker]:hidden md:w-[40rem]">
        <summary class="flex cursor-pointer items-center p-4 justify-between gap-1.5 text-fg">
            <h2 class="font-semibold">{{item.title}}</h2>
            <span class="relative size-5 shrink-0">
                <ml-icon name="plus-circle" class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" />

                <ml-icon name="minus-circle" class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" />
            </span>
        </summary>

        @for (description of item.description; track $index){
        <p class="leading-relaxed text-fg-muted px-6 pb-6">
            {{description}}
        </p>
        }
    </details>
    }
</div>
<div class="flex items-center justify-start mt-4">
    <span class="text-sm font-medium text-fg">Última actualización: {{fechaUltimaActualizacion}}</span>
</div>