@let stepNumber = step();
@if(stepNumber === StepEnum.CHOSE_PLAN){
<span [ngClass]="[bgColor]"
    class="absolute -bottom-[2.3rem] start-0-[0%] rounded-full text-bg w-10 h-10 flex items-center justify-center">
    @if (isCompleted()) {
    <ml-icon name="check" class="w-5 h-5" />
    } @else {
    <ml-icon name="pencil" class="w-5 h-5" />
    }
</span>
}
@if(stepNumber === StepEnum.USER_DATA){
<span [ngClass]="[bgColor]"
    class="absolute -bottom-[2.3rem] left-[15%] rounded-full text-bg w-10 h-10 flex items-center justify-center">
    @if (isCompleted()) {
    <ml-icon name="check" class="w-5 h-5" />
    } @else {
    <ml-icon name="face" class="w-5 h-5" />
    }
</span>
}
@if(stepNumber === StepEnum.ADDRESS){
<span [ngClass]="[bgColor]"
    class="absolute -bottom-[2.3rem]  left-[30%] rounded-full text-bg w-10 h-10 flex items-center justify-center">
    @if (isCompleted()) {
    <ml-icon name="check" class="w-5 h-5" />
    } @else {
    <ml-icon name="local-shipping" class="w-5 h-5" />
    }
</span>
}
@if(stepNumber === StepEnum.CARD_VALIDATION){
<span [ngClass]="[bgColor]"
    class="absolute -bottom-[2.3rem] left-[45%]  rounded-full text-bg w-10 h-10 flex items-center justify-center">
    @if (isCompleted()) {
    <ml-icon name="check" class="w-5 h-5" />
    } @else {
    <ml-icon name="credit-card" class="w-5 h-5" />
    }
</span>
}
@if(stepNumber === StepEnum.CONFIRMATION){
<span [ngClass]="[bgColor]"
    class="absolute -bottom-[2.3rem] end-0 rounded-full text-bg w-10 h-10 flex items-center justify-center">
    @if(flag()!==""){
    <span class="badge max-sm:text-xs">{{flag()}}</span>
    }
    @if (isCompleted()) {
    <ml-icon name="check" class="w-5 h-5" />
    } @else {
    <ml-icon name="package-lock" class="w-5 h-5" />
    }
</span>
}
