<!-- FAQs -->

<h2 class="text-2xl text-fg mb-6 max-lg:hidden">Preguntas frecuentes</h2>
<div class="space-y-4">
    <details class="group rounded-lg bg-bg-alt  [&_summary::-webkit-details-marker]:hidden md:w-[40rem]">
        <summary class="flex cursor-pointer items-center p-4 justify-between gap-1.5 text-fg">
            <h2 class="font-semibold">{{ ENV.campanaPrimeraCreatina.textos.faqTituloOferta }}</h2>
            <span class="relative size-5 shrink-0">
                <ml-icon name="plus-circle" class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" />

                <ml-icon name="minus-circle" class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" />
            </span>
        </summary>

        <p class="leading-relaxed text-fg-muted px-6 pb-6">
            {{ ENV.campanaPrimeraCreatina.textos.faqRespuestaOferta }}
        </p>
    </details>

    <details class="group rounded-lg bg-bg-alt [&_summary::-webkit-details-marker]:hidden  md:w-[40rem]">
        <summary class="flex cursor-pointer items-center p-4  justify-between gap-1.5 text-fg">
            <h2 class="font-semibold">{{ ENV.campanaPrimeraCreatina.textos.faqTituloRecepcion }}</h2>

            <span class="relative size-5 shrink-0">
                <ml-icon name="plus-circle" class="absolute inset-0 opacity-100 group-open:opacity-0" />

                <ml-icon name="minus-circle" class="absolute inset-0 opacity-0 group-open:opacity-100" />
            </span>
        </summary>

        <p class=" px-6 pb-6 leading-relaxed text-fg-muted">
            {{ ENV.campanaPrimeraCreatina.textos.faqRespuestaRecepcion(ENV.plazoDeEntregaHorasCreatinaFree.min, ENV.plazoDeEntregaHorasCreatinaFree.max) }}
        </p>
    </details>

    <details class="group rounded-lg bg-bg-alt [&_summary::-webkit-details-marker]:hidden md:w-[40rem]">
        <summary class="flex cursor-pointer items-center p-4 justify-between gap-1.5 text-fg">
            <h2 class="font-semibold">¿Hay un periodo de cancelación?</h2>

            <span class="relative size-5 shrink-0">
                <ml-icon name="plus-circle" class="absolute inset-0 opacity-100 group-open:opacity-0" />

                <ml-icon name="minus-circle" class="absolute inset-0 opacity-0 group-open:opacity-100" />
            </span>
        </summary>

        <p class=" px-6 pb-6 leading-relaxed text-fg-muted">
            Después de recibir tu {{ ENV.campanaPrimeraCreatina.textos.heroOferta }}, tienes
            {{ENV.diasNormalesDePruebaOperiodoDeReflexion}} días para probarla,
            este es tu período de prueba.
            Si cancelas durante el período de prueba, no pagarás nada y se cancelará tu
            suscripción.
            Después de tus primeros {{ENV.diasNormalesDePruebaOperiodoDeReflexion}} días,
            aplicamos un período de cancelación mensual.
            ¿Cancelas antes de {{ENV.diasAntesDeSiguienteCobroSubscripcion}} días de tu fecha de facturación? Entonces no habrá un pago ni entrega, caso contrario, habrá un pago y una entrega más.
        </p>
    </details>
</div>