<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <a routerLink="/">
      <img class="mx-auto h-12 w-auto" src="favicon.png" alt="Magrolabs - Suplementos Deportivos">
    </a>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Inicia sesión.</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      O
      <a routerLink="/registro" class="font-medium text-primary hover:text-primary-hover hover:underline">Empieza tu prueba de
        {{ENV.diasNormalesDePruebaOperiodoDeReflexion}} días {{ENV.campanaPrimeraCreatina.textos.ofertaMedia}}.</a>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" [formGroup]="form">
        <ml-input
          label="Correo"
          inputId="email"
          inputType="email"
          [required]="true"
          placeholder="tu@example.com"
          autocomplete="email"
          [errors]="emailErrors"
          formControlName="email"
        />

        <ml-password-input
          label="Contraseña"
          inputId="password"
          [required]="true"
          [errors]="passwordErrors"
          formControlName="password"
        />

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember-me" name="remember-me" type="checkbox" formControlName="rememberMe"
              class="h-4 w-4 text-primary focus:ring-primary-hover border-gray-300 rounded">
            <label for="remember-me" class="ml-2 block text-sm text-gray-900"> Recordarmelo </label>
          </div>

          <div class="text-sm">
            <a routerLink="/recuperar-password" class="font-medium text-primary hover:text-primary-hover hover:underline"> ¿Olvidaste tu
              contraseña? </a>
          </div>
        </div>

        <div>
          <ml-button name='Continuar' type='secondary' (click)="login()" [isProcessing]="isProcessing"/>
        </div>
      </form>
    </div>
  </div>
</div>