<app-step [step]="stepEnum.CONFIRMATION" />

<div class="px-4 pt-4 mx-auto ">
    <div class="text-gray-700  md:mb-0">
        <div class="relative mt-7 mb-2 lg:mt-9">
            <h1 class="text-5xl max-lg:text-4xl font-black text-gray-800 text-left lg:text-left lg:mt-12">
                ¡Felicidades {{clientName}}!
            </h1>
            <p class="text-base font-bold mt-5">¡Tu registro se ha completado con éxito!</p>
            <p class="text-base">El email de confirmación está en camino.</p>

            <p class="text-base mt-5">Ten en cuenta que:</p>
        </div>
    </div>
</div>

<app-information [information]="informationList" class="mt-5" />

<div  class="mt-5 w-fit ml-5">
    <ml-button type='primary' name="Iniciar sesión" [routerLink]="['/login']" />
</div>