<app-step [step]="stepEnum.CONFIRMATION" />

<div class="px-4 pt-4 mx-auto ">
    <div class="text-gray-700  md:mb-0">
        <div class="relative mt-7 mb-2 lg:mt-9">

            @if (status == confirmationStatusEnum.SUBSCRIPTION_SUCCESS) {
            <h1 class="text-5xl max-lg:text-4xl font-black text-gray-800 text-left lg:text-left lg:mt-12">
                ¡Felicidades {{clientName}}!
            </h1>
            <p class="text-xl font-extrabold mt-5">{{parrafoExito.parrafo1}}</p>
            <p class="text-base">{{parrafoExito.parrafo2}}</p>

            <p class="text-base mt-5">{{parrafoExito.parrafo3}}</p>
            }
            @else if (status == confirmationStatusEnum.SUBSCRIPTION_SUCCESS_OUTSIDE_LIMA) {
            <h1 class="text-5xl max-lg:text-4xl font-black text-gray-800 text-left lg:text-left lg:mt-12">
                ¡Hola {{clientName}}!
            </h1>
            <p class="text-xl font-extrabold mt-5">{{parrafoError.parrafo1}}</p>
            <p class="text-base">{{parrafoError.parrafo2}}</p>

            <p class="text-base mt-5">{{parrafoError.parrafo3}}</p>
            }@else if (status == confirmationStatusEnum.ONE_PURCHASE_SUCCESS_WITH_REGISTRATION) {
            <h1 class="text-5xl max-lg:text-4xl font-black text-gray-800 text-left lg:text-left lg:mt-12">
                ¡Felicidades {{clientName}}!
            </h1>

            <p class="text-xl font-extrabold mt-5">{{parrafoCompraConRegistroExito.parrafo1}}</p>
            <p class="text-base">{{parrafoCompraConRegistroExito.parrafo2}}</p>

            <p class="text-base mt-5">{{parrafoCompraConRegistroExito.parrafo3}}</p>
            }
            @else if (status == confirmationStatusEnum.ONE_PURCHASE_SUCCESS_WITHOUT_REGISTRATION) {
            <h1 class="text-5xl max-lg:text-4xl font-black text-gray-800 text-left lg:text-left lg:mt-12">
                ¡Felicidades {{clientName}}!
            </h1>
            <p class="text-xl font-extrabold mt-5">{{parrafoCompraSinRegistroExito.parrafo1}}</p>
            <p class="text-base">{{parrafoCompraSinRegistroExito.parrafo2}}</p>
            <p class="text-base  mt-5">{{parrafoCompraSinRegistroExito.parrafo3}}</p>
            }

        </div>
    </div>
</div>
@if (status == confirmationStatusEnum.SUBSCRIPTION_SUCCESS) {
<app-information [information]="informationExitoList" class="mt-5" />
<div class="mt-7 w-fit ml-5 max-sm:mb-14">
    <ml-button type='primary' name="Inicia sesión" [routerLink]="['/login']" />
</div>
}
@else if (status == confirmationStatusEnum.SUBSCRIPTION_SUCCESS_OUTSIDE_LIMA) {
<app-information [information]="informationErrorList" class="mt-5" />
<div class="mt-7 w-fit ml-5 max-sm:mb-14">
    <ml-button type='primary' name="Inicia sesión" [routerLink]="['/login']" />
</div>
}
@else if (status == confirmationStatusEnum.ONE_PURCHASE_SUCCESS_WITH_REGISTRATION) {
<app-information [information]="informationCompraExitoRegistroList" class="mt-5" />
<div class="mt-7 w-fit ml-5 max-sm:mb-14">
    <ml-button type='primary' name="Inicia sesión" [routerLink]="['/login']" />
</div>
}
@else if (status == confirmationStatusEnum.ONE_PURCHASE_SUCCESS_WITHOUT_REGISTRATION) {
<app-information [information]="informationCompraExitoSinRegistroList" class="mt-5" />
<div class="mt-7 w-fit ml-5 max-sm:mb-14">
    <ml-button type='primary' name="Ir a Inicio" [routerLink]="['/']" />
</div>
}