@if (!isCookieClose) {
<section
    class="fixed flex items-center justify-between max-w-4xl p-4 mx-auto bg-white border border-gray-200 shadow-sm  left-1 sm:left-4 bottom-4 shadow-gray-100 md:gap-x-4 rounded-2xl z-50">
    <p class="text-sm text-gray-700 ">
        Al usar Magrolabs.com autorizas el uso de cookies. Para más información visita nuestra <a
            href="https://magrolabs.com/politica/privacidad" target="_blank"
            class="underline hover:text-[#d07d66] ">Politica de Cookies</a>.</p>
    <button (click)="isCookieClose = true"
        class="flex items-center justify-center text-gray-700 transition-colors duration-300 rounded-full shrink-0   w-7 h-7 focus:outline-none hover:bg-gray-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path
                d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
        </svg>
    </button>
</section>
}