.ss{
    width: 100%;
    object-position: bottom;
    position: absolute;
    bottom: 0;
    background-image: url("https://onthatass.com/images/design/wicked/products/wicked-boys-originals-boxershort@2x.webp");
}