<app-navbar [type]="navbarTypeEnum.LANDING" [isCheckout]="false" />
<section class="body-font relative flex flex-col justify-center items-center">
    <div class="sm:px-2 sm:py-4 justify-center self-center flex sm:flex-nowrap flex-wrap">
        <div class=" shadow-xl mx-auto sm:rounded-3xl bg-[#f6f6f6] overflow-hidden flex relative">
            <div class="w-full h-full">
                <div class="flex flex-col  items-start h-screen px-16 py-8">
                    <h1 class="text-4xl font-bold mb-4">Atención al cliente.</h1>
                    <p class="text-lg">Aquí encontrarás información sobre cómo contactar con nosotros, las respuestas a
                        las preguntas más frecuentes en un solo clic.</p>
                    <p class="text-lg">Si tienes alguna otra duda, puedes escribirnos a
                        <a [href]="'mailto:' + ENV.emailAtencionClientes"
                            class="text-blue-500">{{ENV.emailAtencionClientes}}</a>.
                    </p>
                    <p>O puedes escribirnos a nuestro whatsapp
                        <a [href]="'https://api.whatsapp.com/send?phone='+ENV.telefonoAtencionClientes+'&text=Buen%20d%C3%ADa%2C%20necesito%20ayuda%20con%20'"
                            class="text-blue-500">+{{ENV.telefonoAtencionClientes}}</a>.
                    </p>


                    <!-- FAQs -->
                    <div class="mx-auto max-w-3xl px-6 lg:px-8 py-10 sm:py-10 ">
                        <div class="space-y-4">
                            <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden">
                                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                                    <h2 class="font-semibold">¿Por qué recibo la primera creatina gratis?</h2>
                                    <span class="relative size-5 shrink-0">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </span>
                                </summary>

                                <p class="mt-4 leading-relaxed text-gray-700">
                                    Te regalamos la primera creatina.
                                    ¿Por qué? Queremos mostrarte y hacerte sentir que estás tomando la mejor decisión.
                                    ¡Estamos tan
                                    convencidos de nuestra creatina!
                                </p>
                            </details>

                            <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden">
                                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                                    <h2 class="font-semibold">¿Cuándo recibiré mi creatina gratis?</h2>

                                    <span class="relative size-5 shrink-0">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="absolute inset-0 opacity-100 group-open:opacity-0" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="absolute inset-0 opacity-0 group-open:opacity-100" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </span>
                                </summary>

                                <p class="mt-4 leading-relaxed text-gray-700">
                                    Después de registrarte, tu creatina gratis estará en tu casa en un plazo de
                                    {{ENV.plazoDeEntregaDiasHabilesCreatinaFree.min}}-{{ENV.plazoDeEntregaDiasHabilesCreatinaFree.max}}
                                    días hábiles.
                                </p>
                            </details>

                            <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden">
                                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                                    <h2 class="font-semibold">¿Hay un periodo de cancelación?</h2>

                                    <span class="relative size-5 shrink-0">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="absolute inset-0 opacity-100 group-open:opacity-0" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="absolute inset-0 opacity-0 group-open:opacity-100" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </span>
                                </summary>

                                <p class="mt-4 leading-relaxed text-gray-700">
                                    Después de recibir tu creatina gratis, tienes
                                    {{ENV.diasNormalesDePruebaOperiodoDeReflexion}} días para probarla,
                                    este es tu período de prueba.
                                    Si cancelas durante el período de prueba, no pagarás nada y se cancelará tu
                                    suscripción.
                                    Después de tus primeros {{ENV.diasNormalesDePruebaOperiodoDeReflexion}} días,
                                    aplicamos un período de cancelación mensual.
                                    ¿Cancelas antes del día 20 del mes? Entonces habrá un pago y una entrega más.
                                </p>
                            </details>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<app-footer />