<h2 class="text-2xl text-fg mb-6 max-lg:hidden">Condiciones de Uso</h2>
<div class="space-y-2">
    @for (item of list; track $index) {
    <details class="group rounded-lg bg-bg-alt  [&_summary::-webkit-details-marker]:hidden md:w-[40rem]">
        <summary class="flex cursor-pointer items-center p-4 justify-between gap-1.5 text-fg">
            <h2 class="font-semibold">{{item.title}}</h2>
            <span class="relative size-5 shrink-0">
                <ml-icon name="plus-circle" class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" />

                <ml-icon name="minus-circle" class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" />
            </span>
        </summary>

        @for (description of item.description; track $index){
        <p class="leading-relaxed text-fg-muted px-6 pb-6">
            {{description}}
        </p>
        }
    </details>
    }
</div>
<div class="flex items-center justify-start mt-4">
    <span class="text-sm font-medium text-fg">Última actualización: {{fechaUltimaActualizacion}}</span>
</div>