<app-navbar [isCheckout]="true" [type]="navbarTypeEnum.BOLSA"></app-navbar>

<section class="body-font relative flex flex-col justify-center items-center">
    <div class="sm:px-2 sm:py-4 justify-center self-center flex sm:flex-nowrap flex-wrap">
        <div
            class=" shadow-xl mx-auto sm:rounded-3xl bg-[#f6f6f6] overflow-hidden flex items-end justify-center relative">
            <div class="w-full h-full">
                <main class="lg:min-h-full lg:overflow-hidden lg:flex lg:flex-row-reverse">
                    <h1 class="sr-only">Checkout</h1>

                    <!-- Mobile order summary -->
                    <section aria-labelledby="order-heading" class="bg-gray-50 px-4 py-6 sm:px-6 lg:hidden">
                        <div class="max-w-lg mx-auto">
                            <div class="flex items-center justify-between">
                                <h2 id="order-heading" class="text-lg font-medium text-gray-900">Your Order</h2>
                                <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500"
                                    aria-controls="disclosure-1" aria-expanded="false">
                                    <!-- Only display for open option. -->
                                    <span>Hide full summary</span>
                                    <!-- Don't display for open option. -->
                                    <span>Show full summary</span>
                                </button>
                            </div>

                            <div id="disclosure-1">
                                <ul role="list" class="divide-y divide-gray-200">
                                    @for (item of shoppingCart.items; track $index) {
                                    <app-order-summary-item [item]="item" (deleteItem)="deleteItem($event)"
                                        (quantityValueChanged)="quantityValueChanged($event,item)" />
                                    }
                                </ul>

                                <form class="mt-10">
                                    <label for="discount-code-mobile" class="block text-sm font-medium text-gray-700">
                                        Código de descuento
                                    </label>
                                    <div class="flex space-x-4 mt-1">
                                        <input type="text" id="discount-code-mobile" name="discount-code-mobile"
                                            class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        <button type="button"
                                            class="bg-gray-200 text-sm font-medium text-gray-600 rounded-md px-4 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
                                            Aplicar
                                        </button>
                                    </div>
                                </form>

                                <dl class="text-sm font-medium text-gray-500 mt-10 space-y-6">
                                    <div class="flex justify-between">
                                        <dt>Subtotal</dt>
                                        <dd class="text-gray-900">{{this.shoppingCart.subTotal | currency : 'S/'}}</dd>
                                    </div>
                                    <div class="flex justify-between">
                                        <dt class="flex">
                                            Descuento
                                            <span
                                                class="ml-2 rounded-full bg-gray-200 text-xs text-gray-600 py-0.5 px-2 tracking-wide">CHEAPSKATE</span>
                                        </dt>
                                        <dd class="text-gray-900">-{{this.shoppingCart.totalDiscount | currency : 'S/'}}
                                        </dd>
                                    </div>
                                    <div class="flex justify-between">
                                        <dt>Impuestos</dt>
                                        <dd class="text-gray-900">S/9.92</dd>
                                    </div>
                                    <div class="flex justify-between">
                                        <dt>Envío</dt>
                                        <dd class="text-gray-900">S/10.00</dd>
                                    </div>
                                </dl>
                            </div>

                            <p
                                class="flex items-center justify-between text-sm font-medium text-gray-900 border-t border-gray-200 pt-6 mt-6">
                                <span class="text-base">Total</span>
                                <span class="text-base">{{shoppingCart.total | currency : 'S/'}}</span>
                            </p>
                        </div>
                    </section>

                    <!-- Order summary -->
                    <section aria-labelledby="summary-heading"
                        class="hidden bg-gray-50 w-full max-w-md flex-col lg:flex">
                        <h2 id="summary-heading" class="sr-only">Order summary</h2>

                        <ul role="list" class="divide-y divide-gray-200 ">
                            @for (item of shoppingCart.items; track $index) {
                            <app-order-summary-item [item]="item" (deleteItem)="deleteItem($event)"
                                (quantityValueChanged)="quantityValueChanged($event,item)" />
                            }
                        </ul>

                        <div class="sticky bottom-0 flex-none bg-gray-50 p-6">
                            <form>
                                <label for="discount-code" class="block text-sm font-medium text-gray-700">
                                    Código de descuento
                                </label>
                                <div class="flex space-x-4 mt-1">
                                    <input type="text" id="discount-code" name="discount-code"
                                        class="block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    <button type="button"
                                        class="bg-gray-200 text-sm font-medium text-gray-600 rounded-md px-4 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
                                        Aplicar
                                    </button>
                                </div>
                            </form>

                            <dl class="text-sm font-medium text-gray-500 mt-10 space-y-6">
                                <div class="flex justify-between">
                                    <dt>Subtotal</dt>
                                    <dd class="text-gray-900">{{shoppingCart.subTotal | currency : 'S/'}}</dd>
                                </div>
                                <div class="flex justify-between">
                                    <dt class="flex">
                                        Descuento
                                        <span
                                            class="ml-2 rounded-full bg-gray-200 text-xs text-gray-600 py-0.5 px-2 tracking-wide">CHEAPSKATE</span>
                                    </dt>
                                    <dd class="text-gray-900">-{{shoppingCart.totalDiscount | currency : 'S/'}}</dd>
                                </div>
                                <div class="flex justify-between">
                                    <dt>Impuestos</dt>
                                    <dd class="text-gray-900">S/9.92</dd>
                                </div>
                                <div class="flex justify-between">
                                    <dt>Envío</dt>
                                    <dd class="text-gray-900">S/10.00</dd>
                                </div>
                                <div
                                    class="flex items-center justify-between border-t border-gray-200 text-gray-900 pt-6 text-base">
                                    <dt>Total</dt>
                                    <dd>{{shoppingCart.total | currency : 'S/'}}</dd>
                                </div>
                            </dl>
                        </div>
                    </section>

                    <!-- Checkout form -->
                    <section aria-labelledby="payment-heading"
                        class="flex-auto overflow-y-auto px-4 pt-0 pb-16 sm:px-6 sm:pt-0 lg:px-8 lg:pt-0 lg:pb-24">
                        <h2 id="payment-heading" class="sr-only">Payment and shipping details</h2>

                        <div class="max-w-lg mx-auto">
                            <form [formGroup]="form" method="post">
                                <div class="space-y-12">
                                    <div class="pb-4">
                                        <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-2 lg:grid-cols-6">
                                            <!-- REGISTRO -->
                                            <div class="col-span-6 flex justify-between mb-3 items-end">
                                                <h2
                                                    class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
                                                    Información.</h2>
                                                <a class="text-sm underline font-normal antialiased hover:text-[#d07d66]"
                                                    [routerLink]="'/login'"
                                                    [queryParams]="{'returnUrl':'/checkout'}">Iniciar sesión</a>
                                            </div>
                                            <div class="sm:col-span-3">
                                                <label for="first-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Nombres
                                                    *</label>
                                                <div class="mt-2">
                                                    <input type="text" name="first-name" id="first-name"
                                                        autocomplete="given-name" formControlName="firtName"
                                                        [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('firtName')}"
                                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm sm:leading-6">

                                                </div>
                                                <div class="p-2">
                                                    @if(hasRequiredError('firtName')) {
                                                    <p class="text-xs text-red-500">*Nombres es obligatorio</p>
                                                    }
                                                    @if(hasValidatorError('firtName')) {
                                                    <p class="text-xs text-red-500">*Solo se permite más de 3 letras</p>
                                                    }
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="last-name"
                                                    class="block text-sm font-medium leading-6 text-gray-900">Apellidos
                                                    *</label>
                                                <div class="mt-2">
                                                    <input type="text" name="last-name" id="last-name"
                                                        autocomplete="family-name" formControlName="lastName"
                                                        [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('lastName')}"
                                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm sm:leading-6">
                                                </div>
                                                <div class="p-2">
                                                    @if(hasRequiredError('lastName')) {
                                                    <p class="text-xs text-red-500">*Apellidos es obligatorio</p>
                                                    }
                                                    @if(hasValidatorError('lastName')) {
                                                    <p class="text-xs text-red-500">*Solo se permite más de 3 letras</p>
                                                    }
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="cellphone"
                                                    class="block text-sm font-medium leading-6 text-gray-900">
                                                    Celular *
                                                </label>
                                                <div class="mt-2 flex items-center text-gray-400">
                                                    <div
                                                        class="p-2.5 py-1.5 rounded-l-md border-y border-l border-gray-300 ">
                                                        +51
                                                    </div>
                                                    <input type="number" placeholder="987654321"
                                                        (input)="limitDigits(9, 'cellphone')" autocomplete="mobile"
                                                        [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('cellphone') || hasExistCellphone() || hasValidatorError('cellphone')}"
                                                        class="appearance-none w-full p-2.5 outline-none focus:border-[#d07d66]
                                                         block rounded-r-md border-x border-r border-l-1 py-1.5 ring-gray-300
                                                         text-gray-900  placeholder:text-gray-400 border-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm sm:leading-6"
                                                        formControlName="cellphone" />
                                                </div>
                                                <div class="p-2">
                                                    @if(hasRequiredError('cellphone')) {
                                                    <p class="text-xs text-red-500">*El número de celular es obligatorio
                                                    </p>
                                                    }
                                                    @if(hasValidatorError('cellphone')) {
                                                    <p class="text-xs text-red-500">*Número inválido, solo se permite 9
                                                        dígitos</p>
                                                    }
                                                    @if(hasExistCellphone()) {
                                                    <p class="text-xs text-red-500">
                                                        *El número de celular ya está registrado
                                                    </p>
                                                    }
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="cellphone"
                                                    class="block text-sm font-medium leading-6 text-gray-900">
                                                    N° de Documento *
                                                </label>
                                                <div class="mt-2 flex items-center">
                                                    <div class="flex items-center">
                                                        <select formControlName="typeDocument"
                                                            class="px-4.5 py-2.5 rounded-l-md border-x border-r  border-l border-gray-300 h-full text-xs focus:ring-2 focus:ring-inset focus:ring-[#d07d66]">
                                                            <option value="1">DNI</option>
                                                            <option value="2">Carnet Ext.</option>
                                                        </select>
                                                    </div>
                                                    <input
                                                        [type]="form.get('typeDocument')?.value == '1' ? 'number' : 'text'"
                                                        placeholder="87654321" autocomplete="cc-number"
                                                        (input)="limitDigits(form.get('typeDocument')?.value == '1' ? 8 : 12, 'nroDocument')"
                                                        class="appearance-none w-full p-2.5 outline-none focus:border-[#d07d66]
                                                         block rounded-r-md border-x border-r border-l py-1.5 ring-gray-300
                                                         text-gray-900  placeholder:text-gray-400 border-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm sm:leading-6"
                                                        [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('nroDocument') || hasExistDocument() || hasValidatorError('nroDocument')}"
                                                        formControlName="nroDocument" />
                                                </div>
                                                <div class="p-2">
                                                    @if(hasRequiredError('nroDocument')) {
                                                    <p class="text-xs text-red-500"> *Número de documento es obligatorio
                                                    </p>
                                                    }
                                                    @if(hasValidatorError('nroDocument') &&
                                                    form.get('typeDocument')?.value == '1') {
                                                    <p class="text-xs text-red-500">*DNI permite 8 dígitos</p>
                                                    }
                                                    @if(hasValidatorError('nroDocument') &&
                                                    form.get('typeDocument')?.value == '2') {
                                                    <p class="text-xs text-red-500">*Carnet Ext. permite 12
                                                        alfanuméricos</p>
                                                    }
                                                    @if(hasExistDocument()) {
                                                    <p class="text-xs text-red-500">
                                                        *El documento ya está registrado
                                                    </p>
                                                    }
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="email"
                                                    class="block text-sm font-medium leading-6 text-gray-900">
                                                    Correo *</label>
                                                <div class="mt-2">
                                                    <input formControlName="email" id="email" name="email" type="email"
                                                        autocomplete="email" placeholder="tu@example.com"
                                                        [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('email') || hasExistEmail() || hasValidatorError('email')}"
                                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm sm:leading-6">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-3 flex items-end ">
                                                <!-- <label class="inline-flex items-center me-5 cursor-pointer">
                                                    <input type="checkbox" value="" class="sr-only peer">
                                                    <div class="relative w-9 h-5  bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                                                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Registrarme</span>
                                                  </label> -->
                                                <label class="inline-flex items-center mb-2 cursor-pointer">
                                                    <input type="checkbox" value="" class="sr-only peer">
                                                    <div
                                                        class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-green-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-600">
                                                    </div>
                                                    <span
                                                        class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-900">Registrarme</span>
                                                </label>
                                            </div>

                                            <div class="sm:col-span-6">
                                                @if(hasRequiredError('email') || hasValidatorError('email')) {
                                                <div class="p-2">
                                                    @if(hasRequiredError('email')) {
                                                    <p class="text-xs text-red-500">*Correo es obligatorio</p>
                                                    }
                                                    @if(hasExistEmail()) {
                                                    <p class="text-xs text-red-500">
                                                        *El correo ya está registrado
                                                    </p>
                                                    }
                                                    @if(hasValidatorError('email')) {
                                                    <p class="text-xs text-red-500">*Correo inválido</p>
                                                    }
                                                </div>
                                                }
                                            </div>

                                            <div class="sm:col-span-6 py-2">
                                                <label for="password"
                                                    class="block text-sm font-medium leading-6 text-gray-900">
                                                    Contraseña *</label>
                                                <div class="mt-2">
                                                    <input formControlName="password" name="password" type="password"
                                                        placeholder="••••••••"
                                                        [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('password') || hasValidatorError('password')}"
                                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm sm:leading-6">
                                                </div>
                                                <div class="p-2">
                                                    @if(hasRequiredError('password')) {
                                                    <p class="text-xs text-red-500">*Contraseña es obligatorio</p>
                                                    }
                                                    @if(hasValidatorError('password')) {
                                                    <p class="text-xs text-red-500">*Debe contener mínimo 8 caracteres
                                                    </p>
                                                    <!-- <p class="text-xs text-red-500">*Contener al menos una letra mayúscula</p>
                                                    <p class="text-xs text-red-500">*Contener al menos una número</p>
                                                    <p class="text-xs text-red-500">*Contener al menos una carácter especial</p> -->
                                                    }
                                                </div>
                                            </div>

                                            <!-- ENTREGA -->

                                            <div class="col-span-6 mb-3">
                                                <h2
                                                    class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
                                                    Envío.</h2>
                                            </div>

                                            <div [ngClass]="hideSearching ? 'hidden' : ''" class="col-span-6">
                                                <div class="relative">
                                                    <div
                                                        class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
                                                        <svg class="shrink-0 size-4 text-gray-400"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <circle cx="11" cy="11" r="8"></circle>
                                                            <path d="m21 21-4.3-4.3"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="relative">
                                                        <input
                                                            class="py-3 ps-10 pe-4 block w-full ring-1 ring-gray-300 border-0 rounded-lg text-sm disabled:opacity-50 disabled:pointer-events-none focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm/6"
                                                            type="text" role="combobox" aria-expanded="false"
                                                            placeholder="Encuentra tu dirección de entrega" value=""
                                                            formControlName="searchAddress">
                                                        
                                                        <div role="status" class="absolute top-3 right-2" [hidden]="!isSearchingAddress">
                                                            <svg aria-hidden="true" class="w-6 h-6 text-gray-200 animate-spin fill-[#d07d66]" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                                            </svg>
                                                            <span class="sr-only">Loading...</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                @if (addressList.length > 0) {
                                                <div
                                                    class="relative z-30 w-full bg-white border ring-1 ring-gray-300 rounded-lg max-h-48 overflow-auto overflow-y-scroll focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm/6">
                                                    <ul>
                                                        @for (item of addressList; track $index) {
                                                        <li (click)="selectAddress(item)"
                                                            class="font-normal py-2 px-3 cursor-pointer bg-white hover:bg-gray-100 text-pretty text-xs">
                                                            {{item.display_name}}.
                                                        </li>
                                                        }
                                                    </ul>

                                                </div>
                                                }
                                            </div>

                                            <div class="col-span-6 grid grid-cols-1 gap-x-6 gap-y-2 lg:grid-cols-6"
                                                [ngClass]="hideSearching ? '' : 'hidden'">

                                                <div class="sm:col-span-6">
                                                    <label for="street-address"
                                                        class="block text-sm/6 font-medium text-gray-900">Avenida /
                                                        Calle / Jirón
                                                        *</label>
                                                    <div class="mt-2">
                                                        <input type="text" autocomplete="street-address"
                                                            (input)="limitDigits(70, 'streetAddress')"
                                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm/6"
                                                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('streetAddress') || hasValidatorError('streetAddress')}"
                                                            formControlName="streetAddress">

                                                        <div class="p-2">
                                                            @if(hasRequiredError('streetAddress')) {
                                                            <p class="text-xs text-red-500">*Campo obligatorio</p>
                                                            }
                                                            @if(hasValidatorError('streetAddress')) {
                                                            <p class="text-xs text-red-500">*Solo se permite más de 3
                                                                caracteres</p>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="sm:col-span-3 sm:col-start-1">
                                                    <label for="city"
                                                        class="block text-sm/6 font-medium text-gray-900">Departamento
                                                        *</label>
                                                    <div class="mt-2">
                                                        <select
                                                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('department')}"
                                                            (change)="selectDepartment($event)"
                                                            formControlName="department" [value]="departmentUbigeo"
                                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#d07d66]  sm:text-sm/6">
                                                            @if (departments$ | async; as departmentsList) {
                                                            @for (item of departmentsList; track $index) {
                                                            <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}
                                                            </option>
                                                            }
                                                            }
                                                        </select>

                                                        <div class="p-2">
                                                            @if(hasRequiredError('department')) {
                                                            <small class="text-xs text-red-500">*Departamento es
                                                                obligatorio</small>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="sm:col-span-3">
                                                    <label for="province"
                                                        class="block text-sm/6 font-medium text-gray-900">Provincia
                                                        *</label>
                                                    <div class="mt-2">

                                                        <select
                                                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('province')}"
                                                            (change)="selectProvince($event)" formControlName="province"
                                                            [value]="provinceUbigeo"
                                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#d07d66]  sm:text-sm/6">
                                                            @if (provinces$ | async; as provincesList) {
                                                            @for (item of provincesList; track $index) {
                                                            <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}
                                                            </option>
                                                            }
                                                            }
                                                        </select>
                                                        <div class="p-2">
                                                            @if(hasRequiredError('province')) {
                                                            <small class="text-xs text-red-500">*Provincia es
                                                                obligatorio</small>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="sm:col-span-3">
                                                    <label for="district"
                                                        class="block text-sm/6 font-medium text-gray-900">Distrito
                                                        *</label>
                                                    <div class="mt-2">

                                                        <select
                                                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('district')}"
                                                            formControlName="district" [value]="districtUbigeo"
                                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#d07d66]  sm:text-sm/6">
                                                            @if (districts$ | async; as districtsList) {
                                                            @for (item of districtsList; track $index) {
                                                            <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}
                                                            </option>
                                                            }
                                                            }

                                                        </select>
                                                        <div class="p-2">
                                                            @if(hasRequiredError('district')) {
                                                            <small class="text-xs text-red-500">*Distrito es
                                                                obligatorio</small>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="sm:col-span-3">
                                                    <label for="region"
                                                        class="block text-sm/6 font-medium text-gray-900">Código Postal
                                                        *</label>
                                                    <div class="mt-2">
                                                        <input type="text" (input)="limitDigits(5, 'postalCode')"
                                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm/6"
                                                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('postalCode') || hasValidatorError('postalCode')}"
                                                            formControlName="postalCode">
                                                    </div>
                                                    <div class="p-2">
                                                        @if(hasRequiredError('postalCode')) {
                                                        <p class="text-xs text-red-500">*Código Postal es obligatorio
                                                        </p>
                                                        }
                                                        @if(hasValidatorError('postalCode')) {
                                                        <p class="text-xs text-red-500">*Solo se permite 5 dígitos</p>
                                                        }
                                                    </div>
                                                </div>

                                                <div class="sm:col-span-1">
                                                    <label for="postal-code"
                                                        class="block text-sm/6 font-medium text-gray-900">Número</label>
                                                    <div class="mt-2">
                                                        <input type="text" (input)="limitDigits(6, 'number')"
                                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm/6"
                                                            formControlName="number"
                                                            [ngClass]="{'ring-red-500 ring-2': hasValidatorError('number')}">
                                                    </div>
                                                    <div class="p-2">
                                                        @if(hasValidatorError('number')) {
                                                        <p class="text-xs text-red-500">*Se permite de 1 a 6 dígitos</p>
                                                        }
                                                    </div>
                                                </div>


                                                <div class="sm:col-span-5 max-sm:mb-16">
                                                    <label for="postal-code"
                                                        class="block text-sm/6 font-medium text-gray-900">Referencia</label>
                                                    <div class="mt-2">
                                                        <input type="text" formControlName="reference"
                                                            [ngClass]="{'ring-red-500 ring-2 ': hasValidatorError('reference')}"
                                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#d07d66] sm:text-sm/6">
                                                    </div>
                                                    <div class="p-2">
                                                        @if(hasValidatorError('reference')) {
                                                        <p class="text-xs text-red-500">*Se permite de 3 a 250
                                                            caracteres</p>
                                                        }
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- PAGO -->
                                            <div class="col-span-6 my-3">
                                                <h2
                                                    class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
                                                    Pago.</h2>

                                                @if (cartHas250Creatine) {
                                                <label class="inline-flex items-center mb-2 cursor-pointer mt-4 ml-2">
                                                    <input type="checkbox" value="" class="sr-only peer">
                                                    <span
                                                        class="text-sm font-medium text-gray-900 dark:text-gray-900 mr-3">Ahorrar
                                                        S/{{ENV.precioCreatinaOnePurchase -
                                                        ENV.precioCreatinaSubscription}} con la subscripción
                                                        mensual de 250 gr</span>
                                                    <div
                                                        class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-green-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-green-600">
                                                    </div>
                                                </label>
                                                }
                                            </div>

                                            <div class="col-span-6">
                                                <app-payment-method (paymentMethod)="selectPaymentMethod($event)" />

                                                <div class="my-6 lg:w-72">
                                                    <ml-button name="Ir a Pagar →" (click)="Pay()"
                                                        [isDisabled]="paymentMethod == ''"></ml-button>
                                                </div>

                                                <div class="text-pretty">
                                                    <ul class="text-sm mb-7">
                                                        <li class="mb-1">
                                                            <span class=" text-gray-600">Al completar tu pedido,
                                                                declaras que eres mayor
                                                                de 18 años y
                                                                aceptas las <a class="underline cursor-pointer">Términos
                                                                    y
                                                                    condiciones</a>, <a
                                                                    class="underline cursor-pointer">Términos de uso</a>
                                                                y la <a class="underline cursor-pointer">Declaración de
                                                                    privacidad</a> y además
                                                                declaras que has comprobado que tu pedido y tus datos
                                                                son correctos.</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </section>
                </main>

            </div>
        </div>
    </div>
</section>