<main class="lg:relative bg-cover bg-center bg-no-repeat" style="background-image: url('/fondo_hero.webp');">
  <div class="mx-auto max-w-7xl w-full pt-8 pb-4 text-center lg:py-32 lg:text-left">
    <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
      <h1
        class="text-3xl tracking-tight font-light text-white sm:text-5xl md:text-6xl lg:text-5xl xl:text-5xl animate-fade-in-up"
        style="font-family: 'ANZOR', serif;">
        <span class="block  xl:inline">Nunca mas</span>
        <span class="block xl:inline"> te quedes sin creatina</span>
      </h1>

      <style>
        @keyframes fadeInUp {
          from {
            opacity: 0;
            transform: translateY(30px);
          }

          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        @keyframes bounceSuttle {

          0%,
          100% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(-5px);
          }
        }

        .animate-fade-in-up {
          animation: fadeInUp 1s ease-out;
        }

        .animate-bounce-subtle {
          animation: bounceSuttle 2s ease-in-out infinite;
          animation-delay: 0.5s;
        }
      </style>
      
      <div class="animate-fade-in-up">
        <h2 class="text-pretty mt-3 max-w-md mx-auto text-lg text-gray-100 sm:text-xl md:mt-5 md:max-w-3xl">
          Con nuestra suscripción, recibes un paquete de <strong class="text-primary">Creatina Monohidratada 250gr</strong>
          a solo <strong class="text-primary">S/{{ENV.precioCreatinaSubscription}}</strong> por mes.
        </h2>
        <!-- <h2 class="text-pretty mt-0 max-w-md mx-auto text-lg text-gray-100 sm:text-xl md:max-w-3xl">
          Envío gratis para siempre<span class="text-base tracking-tighter">!*</span>
        </h2> -->
        <h2 class="text-pretty mt-0 max-w-md mx-auto text-lg text-gray-100 sm:text-xl md:max-w-3xl">
          Empieza con una prueba de <strong class="text-primary">{{ENV.campanaPrimeraCreatina.textos.heroOfertaLanding}}</strong> donde solo pagas 
          <strong class="text-primary">S/{{ENV.campanaPrimeraCreatina.precio}}0</strong> y con  <strong class="text-primary">envío gratis</strong><span class="text-base tracking-tighter">!*</span>
          <!-- y un regalo de <strong class="text-primary">{{ENV.creditoRegaloPorCompraMes}} MP</strong><span class="text-base tracking-tighter">.**</span> -->
        </h2>

        <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
          <div class="rounded-md transition-all duration-300"
            style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;">
            <ml-link-button routerLink="/registro" size="lg">
              {{ENV.campanaPrimeraCreatina.textos.ctaBoton(ENV.diasNormalesDePruebaOperiodoDeReflexion)}}
            </ml-link-button>
          </div>
        </div>
        <div class="text-left"> 
          <p class="tracking-tighter mt-4 max-w-md mx-auto text-gray-400 text-xs md:max-w-3xl">
            * Cancela cuando quieras, envío gratis para Lima Metropolitana.
          </p>
          <!-- <p class="tracking-tighter mt-1 max-w-md mx-auto text-gray-400 text-xs md:max-w-3xl">
            ** Los {{ENV.creditoRegaloPorCompraMes}} Magropuntos (MP) pueden ser utilizados en nuestra Webshop. {{ENV.campanaPrimeraCreatina.textos.notaPie(ENV.campanaPrimeraCreatina.gramos, ENV.plazoDeEntregaHorasCreatinaFree.min, ENV.plazoDeEntregaHorasCreatinaFree.max)}}
          </p> -->
        </div> 
      </div>
    </div>
  </div>
  <div
    class=" animate-fade-in-up relative w-full h-72 sm:h-64 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
    <img class="absolute inset-0 h-[80%] self-center object-cover mx-auto my-auto filter drop-shadow-[0px_25px_35px_rgba(0,0,0,0.6)]" src="/banner_4.webp" alt="banner-landing" />
  </div>
</main>