<main class="h-screen min-h-full bg-cover bg-top sm:bg-top"
    style="background-image: url('/404-background.jpeg')">
    <div class="max-w-7xl mx-auto px-4 py-8 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-32 z-10">
        <p class="text-sm font-semibold text-fg text-opacity-50 uppercase tracking-wide">404 error</p>
        <h1 class="mt-2 text-4xl font-extrabold text-white tracking-tight sm:text-5xl">Parece que estas perdido!</h1>
        <p class="mt-2 text-lg font-medium text-fg text-opacity-50">La pagina que estas buscando no existe :(</p>
        <div class="mt-6">
            <a routerLink="/"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-fg text-opacity-75 bg-bg bg-opacity-75 hover:bg-opacity-100">
                Ir al Inicio
            </a>
        </div>
    </div>
</main>