<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <a routerLink="/">
            <img class="mx-auto h-12 w-auto" src="favicon.png" alt="Magrolabs icon">
        </a>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            @if (isResetPasswordMode && !isPasswordReset) {
            Crea una nueva contraseña
            } @else if (isPasswordReset) {
            Contraseña restablecida correctamente
            } @else if (!isEmailSent) {
            Reestablece tu contraseña
            } @else {
            Correo electrónico enviado
            }
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
        @if(isPasswordReset) {
        <p>Tu contraseña ha sido actualizada exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
        <div class="mt-6 text-center">
            <a routerLink="/login" class="font-medium text-primary-hover hover:text-[#c06b5a]">
                Ir al inicio de sesión
            </a>
        </div>
        } @else if(isEmailSent) {
        <p>Si conocemos la dirección de correo electrónico, le hemos enviado un correo electrónico con instrucciones
            para restablecer su contraseña. Si no lo recibes, revisa tu spam o correo no deseado.</p>
        <div class="mt-6 text-center">
            <a routerLink="/login" class="font-medium text-primary-hover hover:text-[#c06b5a]">
                Volver al inicio de sesión
            </a>
        </div>
        } @else if(isResetPasswordMode) {
        Ingresa tu nueva contraseña para restablecer tu cuenta.
        } @else {
        Ingresa tu correo y te enviaremos un enlace para reestablecer tu contraseña, despues verifica tu bandeja de entrada y spam.
        }
        </p>
    </div>
    
    <!-- Formulario de solicitud de recuperación -->
    @if(!isEmailSent && !isResetPasswordMode && !isPasswordReset) {
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <ml-card>
        <div class="px-4 py-8 sm:px-10">
            <form class="space-y-6" [formGroup]="form">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700"> Correo* </label>
                    <div class="mt-1">
                        <input id="email" name="email" type="email" autocomplete="email" formControlName="email"
                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('email') || hasValidatorError('email')}"
                            required
                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-hover focus:border-primary-hover sm:text-sm">
                    </div>
                    <div class="p-2">
                        @if(hasRequiredError('email')) {
                        <p class="text-xs text-red-500">*Correo es obligatorio</p>
                        }
                        @if(hasValidatorError('email')) {
                        <p class="text-xs text-red-500">*Correo inválido</p>
                        }
                    </div>
                </div>
                @if(errorMessage) {
                <div class="rounded-md bg-red-50 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm font-medium text-red-800">{{ errorMessage }}</p>
                        </div>
                    </div>
                </div>
                }
                <div>
                    <ml-button name='Reestablecer contraseña' type='secondary' [isProcessing]="isProcessing"
                        (click)="recoverPassword()" />
                </div>
            </form>
        </div>
        </ml-card>
    </div>
    }

    <!-- Formulario de cambio de contraseña -->
    @if(isResetPasswordMode && !isPasswordReset) {
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <ml-card>
        <div class="px-4 py-8 sm:px-10">
            <form class="space-y-6" [formGroup]="resetPasswordForm">
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700"> Nueva contraseña* </label>
                    <div class="mt-1">
                        <input id="password" name="password" type="password" autocomplete="new-password" formControlName="password"
                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('password', 'resetPassword') || hasMinLengthError('password')}"
                            required
                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-hover focus:border-primary-hover sm:text-sm">
                    </div>
                    <div class="p-2">
                        @if(hasRequiredError('password', 'resetPassword')) {
                        <p class="text-xs text-red-500">*La contraseña es obligatoria</p>
                        }
                        @if(hasMinLengthError('password')) {
                        <p class="text-xs text-red-500">*La contraseña debe tener al menos 8 caracteres</p>
                        }
                    </div>
                </div>
                <div>
                    <label for="confirmPassword" class="block text-sm font-medium text-gray-700"> Confirmar contraseña* </label>
                    <div class="mt-1">
                        <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="new-password" formControlName="confirmPassword"
                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('confirmPassword', 'resetPassword') || !passwordsMatch()}"
                            required
                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-hover focus:border-primary-hover sm:text-sm">
                    </div>
                    <div class="p-2">
                        @if(hasRequiredError('confirmPassword', 'resetPassword')) {
                        <p class="text-xs text-red-500">*La confirmación de contraseña es obligatoria</p>
                        }
                        @if(!passwordsMatch() && resetPasswordForm.get('confirmPassword')?.touched) {
                        <p class="text-xs text-red-500">*Las contraseñas no coinciden</p>
                        }
                    </div>
                </div>
                @if(errorMessage) {
                <div class="rounded-md bg-red-50 p-4">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm font-medium text-red-800">{{ errorMessage }}</p>
                        </div>
                    </div>
                </div>
                }
                <div>
                    <ml-button name='Cambiar contraseña' type='secondary' [isProcessing]="isProcessing"
                        (click)="resetPassword()" />
                </div>
            </form>
        </div>
        </ml-card>
    </div>
    }
</div>