<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <a routerLink="/">
            <img class="mx-auto h-12 w-auto" src="favicon.png" alt="Magrolabs icon">
        </a>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            @if (!isEmailSent) {
            Reestablece tu contraseña.
            }
            @else {
            Correo electrónico enviado.
            }
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
        @if(isEmailSent){
        <p>Si conocemos la dirección de correo electrónico, le hemos enviado un correo electrónico con instrucciones
            para restablecer su contraseña.</p>
        }
        @else{
        Ingresa tu correo y te enviaremos un enlace para reestablecer tu contraseña.
        }
        </p>
    </div>
    @if(!isEmailSent){
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form class="space-y-6" [formGroup]="form">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700"> Correo* </label>
                    <div class="mt-1">
                        <input id="email" name="email" type="email" autocomplete="email" formControlName="email"
                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('email') || hasValidatorError('email')}"
                            required
                            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-[#d7816a] focus:border-[#d7816a] sm:text-sm">
                    </div>
                    <div class="p-2">
                        @if(hasRequiredError('email')) {
                        <p class="text-xs text-red-500">*Correo es obligatorio</p>
                        }
                        @if(hasValidatorError('email')) {
                        <p class="text-xs text-red-500">*Correo inválido</p>
                        }
                    </div>
                </div>
                <div>
                    <ml-button name='Reestablecer contraseña' type='secondary' [isProcessing]="isProcessing"
                        (click)="recoverPassword()" />
                </div>
            </form>
        </div>
    </div>
    }
</div>