<app-navbar [type]="navbarTypeEnum.LANDING" [isCheckout]="false"/>
<app-hero />

<!-- Lo que necesitas cada mes. -->
<div class="overflow-hidden bg-white py-10 sm:py-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-4 gap-y-4 sm:gap-y-4 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                    <p class="mt-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                        Lo que necesitas cada mes.
                    </p>
                    <dl class="mt-10 max-w-xl space-y-4 text-base leading-7 text-gray-600 lg:max-w-none">
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Siempre envío gratis a tu casa*.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Alta calidad y 100% monohidratada.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    La primera creatina es gratis.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Cancela cuando quieras.
                                </p>
                            </dt>
                        </div>
                    </dl>
                </div>
                <div class="mt-10 w-fit pl-2">
                    <button type="button" [routerLink]="'/registro'"
                        class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-800 hover:bg-gray-700">
                        Registrate ahora
                    </button>
                    <p class="mt-4 max-w-md mx-auto text-gray-400 text-xs md:max-w-3xl">
                        * Envío gratis solo para {{ENV.envioGratisA.LIMA_METRO}}.
                      </p>
                </div>
            </div>
            <img src="https://tailwindui.com/plus/img/component-images/dark-project-app-screenshot.png"
                alt="Product screenshot"
                class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
                width="2432" height="1442" />
        </div>
    </div>
</div>

<!-- Recibe 10 soles de credito al mes  -->
<div class="bg-white sm:py-10">
    <div class="mx-auto text-center max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-3xl lg:text-center">
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                Recibe S/{{ENV.creditoRegaloPorCompraMes}} de credito cada mes.
            </p>
            <p class="text-center mt-10 text-lg leading-6 text-gray-600">
                Como miembro, eres automáticamente parte de nuestro Programa Loyalty.
                Cada mes recibes {{ENV.creditoRegaloPorCompraMes}}  soles de crédito, con el que acumulas para artículos
                exclusivos de Magrolabs. ¿Quieres saber qué tenemos para ti? Mira
                algunos de nuestros productos más vendidos a continuación.
            </p>
        </div>
        <div class="mx-auto text-left mt-10 mb-10 max-w-3xl">
            <dl class="mx-auto grid w-fit grid-cols-1 gap-x-4 gap-y-4">
                <div class="relative pl-2">
                    <dt>
                        <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                            Recibe {{ENV.creditoRegaloPorCompraMes}} soles de crédito de compra cada mes.
                        </p>
                    </dt>
                </div>
                <div class="relative pl-2">
                    <dt>
                        <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                            Acumula automáticamente, sin costo adicional.
                        </p>
                    </dt>
                </div>
                <div class="relative pl-2">
                    <dt>
                        <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                            Canjea tus créditos por artículos exclusivos.
                        </p>
                    </dt>
                </div>
            </dl>
            <div class="mx-auto mt-5 w-fit pl-2 text-center">
                <button type="button" [routerLink]="'/registro'"
                    class="mt-5 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-800 hover:bg-gray-700">
                    Obtenlo ya!
                </button>
            </div>
        </div>
        <div class="mt-2 mb-10 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
            <!-- Articulo 1 -->
            <div>
                <div class="relative">
                    <div class="relative w-full h-72 rounded-lg overflow-hidden">
                        <img src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/115874517_01/w=1500,h=1500,fit=pad"
                            alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
                            class="w-full h-full object-center object-cover" />
                    </div>
                    <div class="relative mt-4 text-center">
                        <h3 class="text-lg font-medium text-gray-900">Guantes para gimnasio</h3>
                        <p class="mt-1 text-base text-gray-500">
                            Nuestros guantes deportivos de alta calidad los puedes utilizar
                            para levantar pesas, hacer crossfit, montar bicicleta e ir al
                            gimnasio. Estos guantes tienen una correa de soporte para la
                            muñeca que ayuda a prevenir lesiones mientras te ejercitas.
                        </p>
                    </div>
                    <div
                        class="absolute top-0 inset-x-0 h-72 rounded-lg p-4 flex items-end justify-end overflow-hidden">
                        <div aria-hidden="true"
                            class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Articulo 2 -->
            <div>
                <div class="relative">
                    <div class="relative w-full h-72 rounded-lg overflow-hidden">
                        <img src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/115874517_01/w=1500,h=1500,fit=pad"
                            alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
                            class="w-full h-full object-center object-cover" />
                    </div>
                    <div class="relative mt-4 text-center">
                        <h3 class="text-lg font-medium text-gray-900">Guantes para gimnasio</h3>
                        <p class="mt-1 text-base text-gray-500">
                            Nuestros guantes deportivos de alta calidad los puedes utilizar
                            para levantar pesas, hacer crossfit, montar bicicleta e ir al
                            gimnasio. Estos guantes tienen una correa de soporte para la
                            muñeca que ayuda a prevenir lesiones mientras te ejercitas.
                        </p>
                    </div>
                    <div
                        class="absolute top-0 inset-x-0 h-72 rounded-lg p-4 flex items-end justify-end overflow-hidden">
                        <div aria-hidden="true"
                            class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Articulo 3 -->
            <div>
                <div class="relative">
                    <div class="relative w-full h-72 rounded-lg overflow-hidden">
                        <img src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/115874517_01/w=1500,h=1500,fit=pad"
                            alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
                            class="w-full h-full object-center object-cover" />
                    </div>
                    <div class="relative mt-4 text-center">
                        <h3 class="text-lg font-medium text-gray-900">Guantes para gimnasio</h3>
                        <p class="mt-1 text-base text-gray-500">
                            Nuestros guantes deportivos de alta calidad los puedes utilizar
                            para levantar pesas, hacer crossfit, montar bicicleta e ir al
                            gimnasio. Estos guantes tienen una correa de soporte para la
                            muñeca que ayuda a prevenir lesiones mientras te ejercitas.
                        </p>
                    </div>
                    <div
                        class="absolute top-0 inset-x-0 h-72 rounded-lg p-4 flex items-end justify-end overflow-hidden">
                        <div aria-hidden="true"
                            class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Articulo 4 -->
            <div>
                <div class="relative">
                    <div class="relative w-full h-72 rounded-lg overflow-hidden">
                        <img src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/115874517_01/w=1500,h=1500,fit=pad"
                            alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
                            class="w-full h-full object-center object-cover" />
                    </div>
                    <div class="relative mt-4 text-center">
                        <h3 class="text-lg font-medium text-gray-900">Guantes para gimnasio</h3>
                        <p class="mt-1 text-base text-gray-500">
                            Nuestros guantes deportivos de alta calidad los puedes utilizar
                            para levantar pesas, hacer crossfit, montar bicicleta e ir al
                            gimnasio. Estos guantes tienen una correa de soporte para la
                            muñeca que ayuda a prevenir lesiones mientras te ejercitas.
                        </p>
                    </div>
                    <div
                        class="absolute top-0 inset-x-0 h-72 rounded-lg p-4 flex items-end justify-end overflow-hidden">
                        <div aria-hidden="true"
                            class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a [routerLink]="'/loyalty-webshop'" class="text-[#d07d66] hover:text-[#d7816a] w-fit hover:underline">
            Descubre más →
        </a>
    </div>
</div>

<!-- Testiminios -->
<section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
            Reseñas de nuestros clientes
        </h2>
        <div class="mt-8 mb-8 text-pretty grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
            <!-- Testimonio 1 -->
            <blockquote class="rounded-lg bg-gray-50 p-6 shadow-sm sm:p-8">
                <div class="flex items-center gap-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-14 rounded-full object-cover" height="56px" viewBox="0 -960 960 960" width="56px" fill="#434343">
                            <path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.92 44.69q31.3 14.13 50.19 40.97Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/>
                        </svg>
                    <div>
                        <div class="flex justify-center gap-0.5 text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                        </div>

                        <p class="mt-0.5 text-lg font-medium text-gray-900">Hugo Cortez</p>
                    </div>
                </div>

                <p class="mt-4 text-gray-700 text italic">
                    “La creatina es un golazo, no cae pesada como otras. Me gusta mucho que me pueda suscribir una vez y olvidarme de comprarla cada tanto.”
                </p>
            </blockquote>
            <!-- Testimonio 2 -->
            <blockquote class="rounded-lg bg-gray-50 p-6 shadow-sm sm:p-8">
                <div class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-14 rounded-full object-cover" height="56px" viewBox="0 -960 960 960" width="56px" fill="#434343">
                        <path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.92 44.69q31.3 14.13 50.19 40.97Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/>
                    </svg>

                    <div>
                        <div class="flex justify-center gap-0.5 text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                        </div>

                        <p class="mt-0.5 text-lg font-medium text-gray-900">
                            Richard Rodas
                        </p>
                    </div>
                </div>

                <p class="mt-4 text-gray-700 text italic">
                    “La compré por recomendación de un amigo y no me ha decepcionado.No
                    tiene sabor raro y se mezcla fácil con lo que sea. Buen producto, vale
                    la pena.”
                </p>
            </blockquote>
            <!-- Testimonio 3 -->
            <blockquote class="rounded-lg bg-gray-50 p-6 shadow-sm sm:p-8">
                <div class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-14 rounded-full object-cover" height="56px" viewBox="0 -960 960 960" width="56px" fill="#434343">
                        <path d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5t127.92 44.69q31.3 14.13 50.19 40.97Q800-292 800-254v94H160Zm60-60h520v-34q0-16-9.5-30.5T707-306q-64-31-117-42.5T480-360q-57 0-111 11.5T252-306q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570-631q0-39-25.5-64.5T480-721q-39 0-64.5 25.5T390-631q0 39 25.5 64.5T480-541Zm0-90Zm0 411Z"/>
                    </svg>

                    <div>
                        <div class="flex justify-center gap-0.5 text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                        </div>

                        <p class="mt-0.5 text-lg font-medium text-gray-900">
                            Luis Fernandez
                        </p>
                    </div>
                </div>

                <p class="mt-4 text-gray-700 text italic">
                    “Buena creatina, la uso antes de entrenar y no me ha traído efectos secundarios ni nada, Pd: amo su diseño.”
                </p>
            </blockquote>
        </div>
        <div class="text-center">
            <a [routerLink]="'/productos/creatinas/creatina-monohidratada-250-gr'" [fragment]="'reviews'" class="text-[#d07d66] hover:text-[#d7816a] w-fit hover:underline">
                Mira todas las reseñas →
            </a>
        </div>
    </div>
</section>

<!-- Por que Magrolabs. -->
<div class="overflow-hidden bg-white py-10 sm:py-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-16 gap-y-4 sm:gap-y-4 lg:mx-2 lg:max-w-none lg:grid-cols-2">
            <img src="https://www.wildnutrition.com/cdn/shop/files/G_OrganicProtein_SuperfoodPowder_PDPImagery_Version27.jpg?v=1717024335&width=1440"
                alt="Product screenshot" class="w-full rounded-xl shadow-xl left-1 ring-gray-400/10 sm:w-[57rem]"
                width="1440" height="1440" />
            <div class="lg:pr-8 lg:pt-4">
                <div class="lg:max-w-lg">
                    <p class="mt-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                        ¿Por qué Magrolabs?
                    </p>
                    <dl class="mt-10 max-w-xl space-y-4 text-base leading-7 text-gray-600 lg:max-w-none">
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    La primera creatina es gratis.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Alta calidad y 100% monohidratada.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Fácil absorción y de gran solubilidad.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Te regalamos {{ENV.creditoRegaloPorCompraMes}} soles de crédito cada mes.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Cancela cuando quieras.
                                </p>
                            </dt>
                        </div>
                        <div class="relative pl-2">
                            <dt>
                                <svg class="absolute h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="ml-9 text-lg leading-6 font-medium text-gray-700">
                                    Siempre envío gratis a tu casa*.
                                </p>
                            </dt>
                        </div>
                    </dl>
                </div>
                <div class="mt-10 w-fit pl-2">
                    <button type="button" [routerLink]="['/registro']"
                        class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-gray-800 hover:bg-gray-700">
                        Lo quiero!
                    </button>
                    <p class="mt-4 max-w-md mx-auto text-gray-400 text-xs md:max-w-3xl">
                        * Envío gratis solo para {{ENV.envioGratisA.LIMA_METRO}}.
                      </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQs -->
<div class="mx-auto max-w-3xl px-6 lg:px-8 py-10 sm:py-10 bg-white">
    <div class="space-y-4">
        <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden">
            <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                <h2 class="font-semibold">¿Por qué recibo la primera creatina gratis?</h2>
                <span class="relative size-5 shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </span>
            </summary>

            <p class="mt-4 leading-relaxed text-gray-700">
                Te regalamos la primera creatina.
                ¿Por qué? Queremos mostrarte y hacerte sentir que estás tomando la mejor decisión. ¡Estamos tan
                convencidos de nuestra creatina!
            </p>
        </details>

        <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden">
            <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                <h2 class="font-semibold">¿Cuándo recibiré mi creatina gratis?</h2>

                <span class="relative size-5 shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 opacity-100 group-open:opacity-0"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 opacity-0 group-open:opacity-100"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </span>
            </summary>

            <p class="mt-4 leading-relaxed text-gray-700">
                Después de registrarte, tu creatina gratis estará en tu casa en un plazo de {{ENV.plazoDeEntregaDiasHabilesCreatinaFree.min}}-{{ENV.plazoDeEntregaDiasHabilesCreatinaFree.max}} días hábiles.
            </p>
        </details>

        <details class="group rounded-lg bg-gray-50 p-6 [&_summary::-webkit-details-marker]:hidden">
            <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                <h2 class="font-semibold">¿Hay un periodo de cancelación?</h2>

                <span class="relative size-5 shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 opacity-100 group-open:opacity-0"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 opacity-0 group-open:opacity-100"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </span>
            </summary>

            <p class="mt-4 leading-relaxed text-gray-700">
                Después de recibir tu creatina gratis, tienes {{ENV.diasNormalesDePruebaOperiodoDeReflexion}} días para probarla,
                este es tu período de prueba.
                Si cancelas durante el período de prueba, no pagarás nada y se cancelará tu suscripción.
                Después de tus primeros {{ENV.diasNormalesDePruebaOperiodoDeReflexion}} días, aplicamos un período de cancelación mensual.
                ¿Cancelas antes del día 20 del mes? Entonces habrá un pago y una entrega más.
            </p>
        </details>
    </div>
</div>

<!-- Footer -->
<app-footer/>