<app-step [step]="stepEnum.ADDRESS" />

<div class="mx-auto text-left mt-10 mb-10 max-w-3xl w-fit">

    <div class="relative z-10 mx-auto ">
        <div class="text-gray-600 mb-10 md:mb-0">
            <div class="relative mt-7 mb-8 lg:mt-9" show-back-button="true">
                <h1 class="text-5xl max-lg:text-4xl font-black text-gray-800 text-left lg:text-left lg:mt-12">
                    Elige la dirección de entrega.
                </h1>
            </div>

            <form [formGroup]="form" method="post">
                <div class="space-y-12">
                    <div class="pb-4">
                        <div class="max-w">
                            <!-- INPUT DE BUSQUEDA -->
                            <div [ngClass]="hideSearching ? 'hidden' : ''">
                                <div class="relative">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
                                        <svg class="shrink-0 size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <path d="m21 21-4.3-4.3"></path>
                                        </svg>
                                    </div>
                                    <input
                                        class="py-3 ps-10 pe-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                        type="text" role="combobox" aria-expanded="false"
                                        placeholder="Encuentra tu dirección de entrega" value=""
                                        formControlName="searchAddress">
                                </div>

                                @if (addressList.length > 0) {
                                <div
                                    class="relative z-50 w-full bg-white border border-gray-200 rounded-lg max-h-48 overflow-auto overflow-y-scroll">
                                    <ul>
                                        @for (item of addressList; track $index) {
                                        <li (click)="selectAddress(item)"
                                            class="font-normal py-2 px-3 cursor-pointer bg-white hover:bg-gray-100 text-pretty text-xs">
                                            {{item.display_name}}.
                                        </li>
                                        }
                                    </ul>

                                </div>
                                }
                            </div>
                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-2 lg:grid-cols-6"
                                [ngClass]="hideSearching ? '' : 'hidden'">

                                <div class="sm:col-span-6">
                                    <label for="street-address"
                                        class="block text-sm/6 font-medium text-gray-900">Avenida / Calle / Jirón
                                        *</label>
                                    <div class="mt-2">
                                        <input type="text" autocomplete="street-address"
                                            (input)="limitDigits(70, 'streetAddress')"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('streetAddress') || hasValidatorError('streetAddress')}"
                                            formControlName="streetAddress">

                                        <div class="p-2">
                                            @if(hasRequiredError('streetAddress')) {
                                            <p class="text-xs text-red-500">*Campo obligatorio</p>
                                            }
                                            @if(hasValidatorError('streetAddress')) {
                                            <p class="text-xs text-red-500">*Solo se permite más de 3 caracteres</p>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="sm:col-span-3 sm:col-start-1">
                                    <label for="city" class="block text-sm/6 font-medium text-gray-900">Departamento
                                        *</label>
                                    <div class="mt-2">
                                        <select [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('department')}"
                                            (change)="selectDepartment($event)" formControlName="department"
                                            [value]="departmentUbigeo"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm/6">
                                            @if (departments$ | async; as departmentsList) {
                                            @for (item of departmentsList; track $index) {
                                            <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}</option>
                                            }
                                            }
                                        </select>

                                        <div class="p-2">
                                            @if(hasRequiredError('department')) {
                                            <small class="text-xs text-red-500">*Departamento es obligatorio</small>
                                            }
                                        </div>
                                    </div>
                                </div>


                                <div class="sm:col-span-3">
                                    <label for="province" class="block text-sm/6 font-medium text-gray-900">Provincia
                                        *</label>
                                    <div class="mt-2">

                                        <select [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('province')}"
                                            (change)="selectProvince($event)" formControlName="province"
                                            [value]="provinceUbigeo"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm/6">
                                            @if (provinces$ | async; as provincesList) {
                                            @for (item of provincesList; track $index) {
                                            <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}</option>
                                            }
                                            }
                                        </select>
                                        <div class="p-2">
                                            @if(hasRequiredError('province')) {
                                            <small class="text-xs text-red-500">*Provincia es obligatorio</small>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="district" class="block text-sm/6 font-medium text-gray-900">Distrito
                                        *</label>
                                    <div class="mt-2">

                                        <select [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('district')}"
                                            formControlName="district" [value]="districtUbigeo"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm/6">
                                            @if (districts$ | async; as districtsList) {
                                            @for (item of districtsList; track $index) {
                                            <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}</option>
                                            }
                                            }

                                        </select>
                                        <div class="p-2">
                                            @if(hasRequiredError('district')) {
                                            <small class="text-xs text-red-500">*Distrito es obligatorio</small>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="region" class="block text-sm/6 font-medium text-gray-900">Código Postal
                                        *</label>
                                    <div class="mt-2">
                                        <input type="text" (input)="limitDigits(5, 'postalCode')"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                                            [ngClass]="{'ring-red-500 ring-2 ': hasRequiredError('postalCode') || hasValidatorError('postalCode')}"
                                            formControlName="postalCode">
                                    </div>
                                    <div class="p-2">
                                        @if(hasRequiredError('postalCode')) {
                                        <p class="text-xs text-red-500">*Código Postal es obligatorio</p>
                                        }
                                        @if(hasValidatorError('postalCode')) {
                                        <p class="text-xs text-red-500">*Solo se permite 5 dígitos</p>
                                        }
                                    </div>
                                </div>

                                <div class="sm:col-span-1">
                                    <label for="postal-code"
                                        class="block text-sm/6 font-medium text-gray-900">Número</label>
                                    <div class="mt-2">
                                        <input type="text" (input)="limitDigits(6, 'number')"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                                            formControlName="number"
                                            [ngClass]="{'ring-red-500 ring-2': hasValidatorError('number')}">
                                    </div>
                                    <div class="p-2">
                                        @if(hasValidatorError('number')) {
                                        <p class="text-xs text-red-500">*Se permite de 1 a 6 dígitos</p>
                                        }
                                    </div>
                                </div>


                                <div class="sm:col-span-5 max-sm:mb-16">
                                    <label for="postal-code"
                                        class="block text-sm/6 font-medium text-gray-900">Referencia</label>
                                    <div class="mt-2">
                                        <input type="text" formControlName="reference"
                                            [ngClass]="{'ring-red-500 ring-2 ': hasValidatorError('reference')}"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                                    </div>
                                    <div class="p-2">
                                        @if(hasValidatorError('reference')) {
                                        <p class="text-xs text-red-500">*Se permite de 3 a 250 caracteres</p>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <p class="mb-7 text-sm text-center" [ngClass]="hideSearching ? 'hidden' : ''">
                    <span class="cursor-pointer font-bold antialiased"
                        (click)="hideSearching = true; isSearched = true">O ingresa tu dirección manualmente ➤</span>
                </p>

                <hr class="mb-64 max-sm:mb-20" [ngClass]="hideSearching ? 'hidden' : ''">

                <div class="max-sm:hidden mt-6" [ngClass]="isSearched ? '' : 'hidden'">
                    <ml-button name="Continuar" (click)="nextStep()"
                        [ngClass]="{isSaving:'cursor-progress disabled'}"></ml-button>
                </div>
                @if (isSearched) {
                    <div class="sm:hidden max-sm:fixed max-sm:bottom-0 max-sm:left-0 max-sm:w-full max-sm:z-50" [ngClass]="{isSaving:'cursor-progress disabled', isSearched: 'hidden'}">
                        <button (click)="nextStep()" type="button"
                            class=" inline-flex w-full items-center justify-center px-4 py-6 border border-transparent text-lg font-medium text-white bg-indigo-600 hover:bg-indigo-700">
                            Continuar
                        </button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>