<app-step [step]="stepEnum.ADDRESS" />

<div class="mx-auto text-left mt-10 mb-10 max-w-3xl w-fit">

    <div class="relative z-10 mx-auto ">
        <div class="text-fg-muted mb-10 md:mb-0">
            <div class="relative mt-7 mb-8 lg:mt-9" show-back-button="true">
                <h1 class="text-5xl max-lg:text-4xl font-black text-fg text-left lg:text-left lg:mt-12">
                    Dirección de entrega.
                </h1>
            </div>

            <form [formGroup]="form" method="post">
                <div class="space-y-12">
                    <div class="pb-4">
                        <div class="max-w">
                            <!-- INPUT DE BUSQUEDA -->
                            <div [ngClass]="hideSearching ? 'hidden' : ''">
                                <div class="relative">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
                                        <svg class="shrink-0 size-4 text-fg-subtle" xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <path d="m21 21-4.3-4.3"></path>
                                        </svg>
                                    </div>
                                    <div class="relative">
                                        <input
                                            class="py-3 ps-10 pe-4 block w-full ring-1 ring-border-strong border-0 rounded-lg text-sm disabled:opacity-50 disabled:pointer-events-none focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm/6"
                                            type="text" role="combobox" aria-expanded="false"
                                            placeholder="Busca tu dirección de entrega" value=""
                                            formControlName="searchAddress">
                                        
                                        <div role="status" class="absolute top-3 right-2" [hidden]="!isSearchingAddress">
                                            <svg aria-hidden="true" class="w-6 h-6 text-fg animate-spin fill-primary" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                            </svg>
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>

                                @if (addressList.length > 0) {
                                <div
                                    class="relative z-30 w-full bg-bg border ring-1 ring-border-strong rounded-lg max-h-48 overflow-auto overflow-y-scroll focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm/6">
                                    <ul>
                                        @for (item of addressList; track $index) {
                                        <li (click)="selectAddress(item)"
                                            class="font-normal py-2 px-3 cursor-pointer bg-bg hover:bg-bg-alt text-pretty text-xs">
                                            {{item.display_name}}.
                                        </li>
                                        }
                                    </ul>

                                </div>
                                }
                            </div>
                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-1 lg:gap-y-2 lg:grid-cols-6"
                                [ngClass]="hideSearching ? '' : 'hidden'">

                                <div class="sm:col-span-6">
                                    <ml-input
                                        label="Avenida / Calle / Jirón"
                                        inputId="street-address"
                                        inputType="text"
                                        autocomplete="street-address"
                                        [required]="true"
                                        [maxLength]="70"
                                        [errors]="streetAddressErrors"
                                        formControlName="streetAddress"
                                        placeholder="Av.Javier Prado"
                                    />
                                </div>

                                <div class="sm:col-span-3 sm:col-start-1">
                                    <ml-select
                                        label="Departamento"
                                        inputId="department"
                                        [required]="true"
                                        [errors]="departmentErrors"
                                        formControlName="department"
                                        (selectionChange)="selectDepartment($event)"
                                    >
                                        @if (departments$ | async; as departmentsList) {
                                            @for (item of departmentsList; track $index) {
                                                <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}</option>
                                            }
                                        }
                                    </ml-select>
                                </div>


                                <div class="sm:col-span-3">
                                    <ml-select
                                        label="Provincia"
                                        inputId="province"
                                        [required]="true"
                                        [errors]="provinceErrors"
                                        formControlName="province"
                                        (selectionChange)="selectProvince($event)"
                                    >
                                        @if (provinces$ | async; as provincesList) {
                                            <option value="0">Seleccione una provincia</option>
                                            @for (item of provincesList; track $index) {
                                                <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}</option>
                                            }
                                        }
                                    </ml-select>
                                </div>

                                <div class="sm:col-span-3">
                                    <ml-select
                                        label="Distrito"
                                        inputId="district"
                                        [required]="true"
                                        [errors]="districtErrors"
                                        formControlName="district"
                                        (selectionChange)="selectDistrict($event)"
                                    >
                                        @if (districts$ | async; as districtsList) {
                                            <option value="0">Seleccione un distrito</option>
                                            @for (item of districtsList; track $index) {
                                                <option [value]="item.id_ubigeo">{{item.nombre_ubigeo}}</option>
                                            }
                                        }
                                    </ml-select>
                                </div>

                                <!-- <div class="sm:col-span-3">
                                    <ml-input
                                        label="Código Postal"
                                        inputId="postalCode"
                                        inputType="text"
                                        [maxLength]="5"
                                        [errors]="postalCodeErrors"
                                        formControlName="postalCode"
                                    />
                                </div> -->

                                <div class="sm:col-span-3">
                                    <ml-input
                                        label="N° / Mz. / Lt."
                                        inputId="number"
                                        inputType="text"
                                        placeholder="403"
                                        [required]="true"
                                        [maxLength]="20"
                                        [errors]="numberErrors"
                                        formControlName="number"
                                    />
                                </div>


                                <div class="sm:col-span-6">
                                    <ml-input
                                        label="Referencia"
                                        inputId="reference"
                                        inputType="text"
                                        placeholder="Ej: Casa azul al lado del parque"
                                        [required]="true"
                                        [errors]="referenceErrors"
                                        formControlName="reference"
                                    />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <p class="mb-7 text-sm text-center" [ngClass]="hideSearching ? 'hidden' : ''">
                    <span class="cursor-pointer font-bold antialiased"
                        (click)="hideSearching = true; isSearched = true">O ingresa tu dirección manualmente →</span>
                </p>

                <hr class="mb-64 max-sm:mb-20" [ngClass]="hideSearching ? 'hidden' : ''">

                <div class="block mt-6" [ngClass]="isSearched ? '' : 'hidden'">
                    <ml-button name="Continuar →" (click)="nextStep()" [isDisabled]="isSaving || !form.valid" [isProcessing]="isSaving"></ml-button>
                </div>
                @if (isSearched) {
                    <div class="hidden max-sm:fixed max-sm:bottom-0 max-sm:left-0 max-sm:w-full max-sm:z-30" [ngClass]="{isSaving:'cursor-progress disabled', isSearched: 'hidden'}">
                        <button (click)="nextStep()" type="button" [disabled]="isSaving || !form.valid"
                            class=" inline-flex w-full items-center justify-center px-4 py-5 border border-transparent text-lg font-medium text-white bg-primary hover:bg-primary-hover disabled:bg-primary-hover/70 disabled:cursor-not-allowed">
                            Continuar →
                        </button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>